.speech{
    color:black;
    font-size: medium;
}
.direction{
    color:black;
    font-size: 14;
    background-color:lightcyan; 
}
.direction:hover{
    background-color: aqua;
    color: hotpink;

}
.BRACK{
    color:darkmagenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:thistle;
}
.HEDDA{
    color:darkcyan;
    background-color:lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.TESMAN{
    color: purple;
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
}
table,td,th{
    text-align: center;
    box-sizing: content-box;
    font-family: Verdana;
    color: cadetblue;
    background-color:aliceblue;
    border: 1px solid black;
    padding:0cqmax;
    margin: 2%;
    display:flexbox;
    width: auto;
}
td{
    font-family: sans-serif;
}
p.BRACK:hover{
    background-color:rgb(153, 193, 205);
    color:  rgb(186, 46, 224);
    font-family: serif;
    font-size: large;
    text-shadow: 10px 10px 15px hotpink;
}
