.speech{
    color:black;
    font-size: medium;
}
.direction{
    color:black;
    font-size: 14;
    background-color:lightcyan; 
}
.direction:hover{
    background-color: aqua;
    color: hotpink;

}
.BRACK{
    color:darkmagenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:thistle;
}
.HEDDA{
    color:darkcyan;
    background-color:lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.TESMAN{
    color: purple;
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
}
